@import '../models/variables';

header {
    margin: 2rem;
    padding: 1rem;
    h1 {
        padding: 1rem;
        color: $white-color;
    }

    hr {
        height: 4px;
        background-color: $grey-color;
        border: none;
    }
}
