@import '../models/variables';

.search-container {
    margin: 1.5rem auto;
    padding: 0.5rem;
    input {
        width: 70%;
        height: 3rem;
        font-size: 1em;
    }
}

.button-wrapper {
    margin: 1rem;
    button {
        @include button;
        width: 70%;
    }
    :hover {
        border-color: $green-color;
    }
}
