$background: #242424;
$grey-color: #50585b;
$white-color: #f0f0f0;
$green-color: #7eb780;

:root {
  --fs-header: 54px;
  --fs-logo: 34px;
  --fs-a: 24px;
  --fs-text: 20px;
  --fs-small: 14px;
}

@media screen and (max-width: 900px) {
  :root {
    --fs-header: 40px;
    --fs-logo: 24px;
    --fs-a: 16px;
    --fs-text: 15px;
  }
}
